.searchPage__info {
    padding: 20px;
}

.searchPage__info > p {
    margin-bottom: 10px;
    font-size: 14px;
}

.searchPage__info > h1 {
    margin-bottom: 30px;
}

.searchPage__info > button {
    border-radius: 30px;
    text-transform: inherit;
    margin: 5px;
}

.searchPage__listings {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.searchPage__left {
    width: 60vw;
}

.searchPage__map {
    flex-grow: 1;
    height: 100vh;
    top: 0;
    margin-top: -101px;
    position: sticky;
    width: 100%;
}

@media (max-width: 1200px) {
    .searchPage__left {
        width: 70vw;
    }
}

@media (max-width: 992px) {
    .searchPage__listings {
        flex-direction: column-reverse;
    }
    .searchPage__map {
        height: 40vh;
        width: 100%;
        flex-grow: 0;
        top: 100px;
        overflow: hidden;
    }
    .searchPage__left {
        width: 100%;
    }
}
